{% extends 'content.html' %}

{% block header %}
    Call Graph - Get Users in Tenant
{% endblock %}

{% block text %}
    {% if g.identity_context_data.authenticated and 'value' in results  %}
        {% set num_results = results.value|length %}
        There are a total of <strong>{{ num_results }}</strong> users in your tenant. Showing
        <strong>displayName</strong> and <strong>ID</strong> for up to 5 of them below.
        <br>
        <br>
        {% for result in results.value[:5] %}
            {% if 'displayName' in result %}
                <strong>{{ loop.index }}.</strong> {{ result.displayName }}
            {% endif %}
            {% if 'id' in result %}
                <span style="float:right">{{ result.id }}</span>
            {% endif %}
            <br><br>
        {% endfor %}
    {% endif %}
    <br>
    Click here to see your <a class="btn btn-info p-1" href="{{ url_for('index') }}">Sign-in Status</a>
    or <a class="btn btn-info p-1" href="{{ url_for('token_details') }}">ID Token Details</a>
{% endblock %}